<div class="container py-4 mt-5">
    <div class="row text-light text-center justify-content-evenly mt-5">
        <div class="col-10 col-md-3 col-xl-3 p-5 mb-4 bg-dark rounded-3 border border-4 border-secondary especial-div"
            (click)="goTo('mi-perfil')">
            <i class="fa fa-user fa-2x"></i>
            Mi Perfil
        </div>
        <div class="col-10 col-md-3 col-xl-3 p-5 mb-4 bg-dark rounded-3 border border-4 border-secondary especial-div"
            (click)="goTo('mis-turnos')">
            <i class="fa fa-calendar fa-2x"></i>
            Mis Turnos
        </div>
        <div class="col-10 col-md-3 col-xl-3 p-5 mb-4 bg-dark rounded-3 border border-4 border-secondary especial-div"
            (click)="goTo('solicitar-turno')">
            <i class="fa fa-id-card fa-2x"></i>
            Solicitar Turno
        </div>
    </div>
</div>