<div class="container py-4">
    <div class="row">
        <div class="col-6">
            <div class="justify-content-evenly text-center">
                <p-calendar (click)="cargarTurnos()" class="max-w-full p-component p-datepicker-monthpicker-disable"
                    [(ngModel)]="date" [minDate]="minDate" [maxDate]="maxDate" [inline]="true"
                    [selectOtherMonths]="false" [view]="'date'" [numberOfMonths]="1" [monthNavigator]="false"
                    [yearNavigator]="false"></p-calendar>
            </div>
        </div>
        <div class="col-6" style="margin-top: 6rem;">
            <div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
                <h2>Horarios - {{date.getDate()+'/'+date.getMonth()+'/'+date.getFullYear()}}</h2>
                <hr>
                <div class="container text-center">
                    <div class="row"></div>
                    <div *ngIf="horarios.length > 0; else elseBlock">
                        <div class="col-12 mt-1" *ngFor="let horario of horarios">
                            <button class="btn btn-outline-primary col-12">
                                {{horario.hora}}
                            </button>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <span>No tiene horarios en este dia</span>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>