  .circular-div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }

  .circular-image {
    height: 70%;
    width: auto !important;
  }
  
  .imgRedonda {
    height:100%;
    width: auto !important;
    /* border-radius:50%; */
    object-fit: cover;
}

.imgPerf{
  height:100%;
    width: auto !important;
    /* border-radius:50%; */
    object-fit: cover;
}


.cirdiv{
   width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

  .centered-text {
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
  }

  .circular-div:hover,.esp-div:hover {
    transform: scale(1.1); 
    border:10px solid #42A5F5;
  }

  .especial-div:hover{
    background-color: #3498db !important;
    color: black !important;
    cursor: pointer;
  }