<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <div class="row justify-content-between">
                <div class="col-10">
                    <a routerLink="" class="d-flex align-items-center text-dark text-decoration-none">
                        <img src="/assets/logo.svg" width="40" height="32" alt="">
                        <span class="fs-4">Clinica Online</span>
                    </a>
                </div>
                <div class="col-2">
                    <!-- <button class="btn btn-primary" (click)="accion()">BOTON</button> -->
                </div>

            </div>


        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Clinica Online</h1>
                <p class="col-md-8 fs-4">En Clínica Online, estamos comprometidos con tu salud y bienestar.
                    Desde el momento en que cruzas nuestras puertas, te damos la bienvenida a un espacio dedicado a
                    cuidarte a ti y a tus seres queridos.</p>
                <button class="btn btn-primary btn-lg" type="button" routerLink="login">Entrar a la pagina</button>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Pacientes</h2>
                    <p>En Clínica Online, tu salud es nuestra prioridad número uno. Nos enorgullece ofrecer a
                        nuestros pacientes la más alta calidad en atención médica y un equipo de profesionales
                        comprometidos con tu bienestar.</p>
                    <button class="btn btn-outline-light" type="button"
                        routerLink="register-paciente">Atenderse</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Especialistas</h2>
                    <p> Nuestros médicos y especialistas cuentan con años de experiencia en sus respectivos campos.
                        Están dedicados a mantenerte saludable y proporcionar el mejor tratamiento posible.</p>
                    <button class="btn btn-outline-secondary" type="button"
                        routerLink="register-especialista">Trabajar</button>
                </div>
            </div>
        </div>

        <footer class="pt-3 mt-4 text-muted border-top">
            &copy; 2023 - LAB IV

        </footer>
    </div>
</main>