<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <div class="row justify-content-between">
                <div class="col-10">
                    <a routerLink="" class="d-flex align-items-center text-dark text-decoration-none">
                        <img src="/assets/logo.svg" width="40" height="32" alt="">
                        <span class="fs-4">Clinica Online</span>
                    </a>
                </div>
            </div>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid">
                <h1 class="display-5 fw-bold">Clinica Online</h1>
                <p class="col-md-8 fs-4">En Clínica Online, estamos comprometidos con tu salud y bienestar.
                    Desde el momento en que cruzas nuestras puertas, te damos la bienvenida a un espacio dedicado a
                    cuidarte a ti y a tus seres queridos.</p>
                <button class="btn btn-primary btn-lg" type="button" routerLink="login">Entrar a la pagina</button>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-md-4 py-4">
                <div class="bg-dark circular-div" routerLink="register-paciente">
                    <img src="assets/pacientes.png" alt="pacientes" class="circular-image">
                    <h2 class="centered-text">Pacientes</h2>
                </div>
            </div>
            <div class="col-md-4 py-4">
                <div class="bg-secondary circular-div" routerLink="register-especialista">
                    <img src="assets/especialistas.png" alt="pacientes" class="circular-image">
                    <h2 class="centered-text">Especialistas</h2>

                </div>
            </div>
        </div>

        <footer class="pt-3 mt-4 text-muted border-top">
            <span (click)="accion()">&copy; 2023 - LAB IV</span>

        </footer>
    </div>
</main>