<div class="container">
    <div class="tbodyDiv">
        <table class="table table-bordered  text-center contenedorFilas table-hover text-dark">
            <!-- ACA ESTA EL PROBLEM -->
            <thead class="sticky-top table-light hv50">
                <tr>
                    <th>Especialidades</th>
                    <!-- <th>Pais</th> -->
                </tr>
            </thead>
            <tbody class="table-dark">
                <tr *ngFor="let esp of especialidades; let idx=index;"
                    [ngClass]="rowClicked == idx ? 'table-active' : ''" (click)="onClickRow(esp.nombre,idx)">
                    <td>{{esp.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr class="my-4">
<button class="btn btn-primary mb-2">Agregar Especialidad</button>

<input type="text" class="form-control" id="especialidad" placeholder="Nombre de especialidad">