<div class="container p-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngIf="historialClinico.length == 0">
        <div class="col" *ngFor="let paciente of pacientes">
            <div class="card shadow-sm">
                <img src={{paciente.img1}} alt="" class="img-perf">
                <div class="card-body">
                    <h4>{{paciente.apellido}}, {{paciente.nombre}}</h4>
                    <h5>DNI: {{paciente.dni}}</h5>
                    <h5>Email: {{paciente.email}}</h5>
                    <h5>Edad: {{paciente.edad}}</h5>
                    <h5>Obra Social: {{paciente.obraSocial}}</h5>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                (click)="getHistorial(paciente)">Ver Historiales</button>
                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row " *ngIf="historialClinico.length > 0">
        <div class="col-md-12 col-xl-12 bg-dark rounded-3 mt-5">
            <h3 class="text-white mt-2 text-center">Historial Clinico</h3>
            <button type="button" class="btn btn-sm btn-outline-danger mt-3" (click)="reset()">Cerrar</button>
            <div class="px-5 " *ngIf="historialClinico.length > 0">
                <div class="row justify-content-evenly text-center align-items-center text-dark bg-white rounded-3 mt-5 mb-5 pb-3"
                    *ngFor="let histoCli of historialClinico">
                    <div class="col-12 mt-3">
                        <h5>Paciente: {{getPaciente(histoCli.pacienteEmail)}}</h5>
                        <hr>
                    </div>
                    <div class="col-12">
                        <h5>Altura: {{histoCli.altura}}</h5>
                    </div>
                    <div class="col-12">
                        <h5>Peso: {{histoCli.peso}}</h5>
                    </div>
                    <div class="col-12">
                        <h5>Temperatura: {{histoCli.temperatura}}</h5>
                    </div>
                    <div class="col-12">
                        <h5>Presion: {{histoCli.presion}}</h5>
                    </div>
                    <div class="col-12" *ngFor="let dato of histoCli.datos; let i = index">
                        <h5 class="text-capitalize">{{sacarKey(dato)}}: {{dato[sacarKey(dato)]}}</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>