<div class="container py-4">
    <div class="row text-light text-center justify-content-evenly">
        <div class="col-10 col-md-5 col-xl-5 p-5 mb-4 bg-dark rounded-3 border border-4 border-secondary especial-div"
            (click)="goTo('mi-perfil')">
            Mi Perfil
        </div>
        <div class="col-10 col-md-5 col-xl-5 p-5 mb-4 bg-dark rounded-3 border border-4 border-secondary especial-div"
            (click)="goTo('mis-turnos')">
            Mis Turnos
        </div>
    </div>
</div>