<div class="container py-4">
    <h1>Mis Turnos</h1>
    <hr>
    <div class="row" *ngIf="turnos.length > 0">
        <div class="col-4 bg-dark text-light rounded-3 text-left pt-3" *ngFor="let turno of turnos">
            <h3>Especialista: {{getEspecialista(turno.especialistaEmail)}}</h3>
            <h4>Fecha: {{turno.fecha}}</h4>
            <h4>Hora: {{turno.horario.hora}}</h4>
            <h4>Nro. Consultorio: {{turno.horario.nroConsultorio}}</h4>
            <h4 class="text-capitalize">Estado: {{turno.estado}}</h4>
            <hr>
            <div class="row">
                <div class="col-3 mb-3"  *ngIf="turno.estado == 'aceptado'">
                    <button class="btn btn-outline-danger">Cancelar</button>
                </div>
                <div class="col-3 mb-3" *ngIf="getResenia(turno) !== ''">
                    <button class="btn btn-outline-secondary" (click)="verResenia(turno)">Ver Reseña</button>
                </div>
                <div class="col-3 mb-3" *ngIf="turno.estado == 'finalizado' && getResenia(turno) !== ''">
                    <button class="btn btn-outline-info">Completar Encuesta</button>
                </div>
                <div class="col-3 mb-3" *ngIf="turno.estado == 'finalizado' && turno.calificacion == ''">
                    <button class="btn btn-outline-warning" (click)="calificar(turno)">Calificar Atencion</button>
                </div>
            </div>
            <!-- botones cancelar turno, ver reseña, completa encuesta, calificar atencion -->
        </div>
    </div>
</div>